@model List<Tuple<Game, Cart>>

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Cart</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Item1.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Item1.Price) <!-- MAKE SALES AFFECT THE VALUE SOMEHOW-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Item2.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.Title)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Item1.Price) <!-- MAKE SALES AFFECT THE VALUE SOMEHOW-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item2.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Item2.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Item2.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Item2.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Transaction">Confirm</a>
</p>
