@model List<Steam2.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Remove from cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="BuyCart">Buy</a>
</div>