@model Steam2.Models.Achievement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GamesID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GamesID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achieved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acquired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acquired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerPerc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerPerc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
