@model Steam2.Models.ViewModels.GameGenreAchievementComment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.PublishingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.PublishingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Developer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Developer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Publisher)
        </dd>
    </dl>
    Genres:
    @foreach (string genre in Model.ListedGenres) 
    {
        @genre
    }
</div>
<div>
    @if (ViewData["Creator"] != null)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Game.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
