@model Steam2.Models.GamesComments.GamesComments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game.PublishingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game.PublishingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game.Developer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game.Developer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game.SaleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game.SaleId)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <h4>Comments</h4>
        <tbody>
            @foreach (var item in Model.comments){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>            
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="CreateComment" asp-route-id="@Model.game.Id">Create comment</a>
    <a asp-action="Index">Back to List</a>
</div>
