@model Steam2.Models.ViewModels.GameGenreAchievementComment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.PublishingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.PublishingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Developer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Developer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Publisher)
        </dd>
    </dl>
    Genres:
    @foreach (string genre in Model.ListedGenres) 
    {
        @genre
    }
</div>
<div>
    @if (ViewData["Creator"] != null)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Game.Id">Edit</a>
    }
    <table class="table">
        <h4>Comments</h4>
        <tbody>
        <thead>
            <tr>
                <th>
                    Comment
                </th>
                <th>
                    Like
                </th>
                <th>
                    Dislike
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
            @foreach (var item in Model.Comment){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>    
                <td>
                    @Html.DisplayFor(modelItem => item.PositiveCount)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.NegativeCount)
                </td>
                <td>
                    <a asp-action="LikeComment" asp-route-id="@item.Id">Like</a> |
                    <a asp-action="DislikeComment" asp-route-id="@item.Id">Dislike</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="CreateComment" asp-route-id="@Model.Game.Id">Create comment</a>
    <a asp-action="Index">Back to List</a>
</div>
