@model Steam2.Models.ViewModels.GamesSales

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (ViewData["Creator"] != null)
{
    <p>
        <a asp-action="Create">Upload a game</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].PublishingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Publisher)
            </th>
            @if (ViewData["Admin"] != null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Games[0].SaleId)
                </th>
                <th>
                    Sale actions
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Games) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            @if (ViewData["Admin"] != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.SaleId)
                </td>
                <td>
                @foreach (var sale in Model.Sales)
                {
                    <a asp-action="AddSaleId" asp-route-SaleId="@sale.Id" asp-route-GameId="@item.Id">Add to @sale.Name | </a>

                }                <a asp-action="RemoveSaleId" asp-route-GameId="@item.Id">Remove from sale | </a>
            </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="AddWishlist" asp-route-id="@item.Id">Add to Wishlist</a> |
                    <a asp-action="AddToLibrary" asp-route-id="@item.Id">BUY</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
