@page
@model Steam2.Views.Shared.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.LoginName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.LoginName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Context)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.ConnecedUsers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.ConnecedUsers)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Profile.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
