@page
@model Steam2.Views.Shared.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.LoginName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.LoginName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Context)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.ConnecedUsers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.ConnecedUsers)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Profile?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
